@import '../../styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;



  .socials {

    display: flex;
    justify-content: center;
    align-items: center;

    .center-line {
      width: 16px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
    }

    a {
      padding: 0px;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;
      font-weight: bold;
      text-decoration: none;
      font-size: var(--vp-fs-12);
      cursor: pointer;
      user-select: none;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }

    .linkedin-alignment {
      display: flex;
      justify-content: center;
      align-items: center;

      .linkedin-text {
        font-size: var(--vp-fs-12);
        font-weight: bold;
      }

    }


    .ion-social-linkedin {
      font-size: var(--vp-fs-25);
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}