<div class="main d-flex justify-content-center align-items-center">
    <!-- card-starts-here -->
    <div class="inner-layout">
        <div class="page-header d-flex justify-content-start align-items-center p-2">
            <span>User Maintanance</span>
        </div>

        <div class="user-container d-flex">

            <!-- searchbar-starts-here -->
            <div class="col-md-4 d-md-flex flex-column d-none menu-bar">
                <div class="menu-search d-flex align-items-center ">
                    <input class="search-input" placeholder="Search" #filterValue
                        (keyup)="filterUser(filterValue.value)">
                    <button mat-mini-fab class="fab-button " (click)="resetForm()">
                        <mat-icon class="plus-icon d-flex justify-content-center align-items-center">add</mat-icon>
                    </button>
                </div>
                <div class="menus-list-layout">
                    <div *ngFor="let user of filteredUsers">
                        <div class="menu-items center-flexBox" (click)="showUserDetail(user)">
                            <div class="circle-layout d-flex justify-content-center align-items-center">
                                <div class="circle"></div>
                            </div>
                            <mat-icon
                                class="person-icon d-flex justify-content-center align-items-center">person</mat-icon>
                            <div class="menu-names d-flex align-items-center">
                                <span class="menu-names-text">{{user.Display_Name}}</span>
                                <div class="count d-flex justify-content-center align-items-center">{{user.Employee_Id}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- searchbar-ends-here -->

            <!-- inputfields-starts-here -->
            <div class="col-md-8 col-sm-12 input-fields-layout">
                <div class="input-header d-flex justify-content-center align-items-center">
                    <span class="p-2">CREATE AN USER</span>
                </div>

                <!-- forms-starts-here -->
                <form [formGroup]="userForm">
                    <div class="input-body row p-2">
                        <div class="col-sm-6 input-info">
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Employee Id </label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="Employee_Id"
                                        fieldSize="small" placeholder="Enter your Employee Id" required
                                        (keypress)="keyPressValidation($event,'number')" />
                                    <mat-error
                                        *ngIf="userForm.get('Employee_Id').hasError('required') && userForm.get('Employee_Id').touched"
                                        class="error-msg">Employee Id is required</mat-error>
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Middle Name </label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="Middle_Name"
                                        fieldSize="small" placeholder="Enter your Middle Name"
                                        (keypress)="keyPressValidation($event,'text')" />
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Email</label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="Email" fieldSize="small"
                                        placeholder="Enter your Email"
                                        (keypress)="keyPressValidation($event,'email')" />
                                    <mat-error
                                        *ngIf="userForm.get('Email').hasError('required') && userForm.get('Email').touched"
                                        class="error-msg">Email is required</mat-error>
                                    <mat-error
                                        *ngIf="userForm.get('Email').hasError('email') && userForm.get('Email').touched"
                                        class="error-msg">Email is invalid</mat-error>
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Role </label>
                                <div class="input-group">
                                    <!-- <input nbInput class="input-full-width" formControlName="Role_Id"
                                        placeholder="Enter your Role" /> -->
                                    <nb-select fullWidth formControlName="Role_Id" placeholder="Select vendor type"
                                        status="primary" size="small">
                                        <nb-option *ngFor="let role of roles"
                                            [value]="role.Role_Id">{{role.Role_Name}}</nb-option>
                                    </nb-select>
                                    <mat-error
                                        *ngIf="userForm.get('Role_Id').hasError('required') && userForm.get('Role_Id').touched"
                                        class="error-msg"> Role is required </mat-error>
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-sm-0 mb-2">
                                <label class="tiny-text">User Account Status </label>
                                <div class="switch d-flex justify-content-start align-items-center">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" formControlName="IsActive"
                                            id="flexSwitchCheckDefault" placeholder="Active">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 input-info">
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">First Name</label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="First_Name"
                                        fieldSize="small" placeholder="Enter your First Name"
                                        (keypress)="keyPressValidation($event,'text')" />
                                    <mat-error
                                        *ngIf="userForm.get('First_Name').hasError('required') && userForm.get('First_Name').touched"
                                        class="error-msg">First Name is required</mat-error>
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Last Name </label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="Last_Name"
                                        fieldSize="small" placeholder="Enter your Last Name"
                                        (keypress)="keyPressValidation($event,'text')" />
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text">Mobile No </label>
                                <div class="input-group">
                                    <input nbInput class="input-full-width" formControlName="Mobile_No"
                                        fieldSize="small" placeholder="Enter your Mobile No"
                                        (keypress)="keyPressValidation($event,'tel')" maxlength="15" />
                                    <mat-error
                                        *ngIf="userForm.get('Mobile_No').hasError('required') && userForm.get('Mobile_No').touched"
                                        class="error-msg">Mobile No required</mat-error>
                                </div>
                            </div>
                            <div class="form-field left-flexBox-col mb-2">
                                <label class="tiny-text"> Reporting Manager </label>
                                <div class="input-group">
                                    <!-- <input nbInput class="input-full-width" formControlName="Reporting_Manager_EmpId"
                                        placeholder="Enter your Manager Position ID" /> -->
                                    <nb-select fullWidth formControlName="Reporting_Manager_EmpId"
                                        placeholder="Select vendor type" status="primary" size="small">
                                        <nb-option *ngFor="let user of users"
                                            [value]="user.Employee_Id">{{user.Display_Name}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                            <div class="form-field d-flex justify-content-end align-items-end mt-0 mt-sm-4">
                                <!-- create -->
                                <div class="center-flexBox gap-2" *ngIf="!selectedItem">
                                    <button class="btn cancel-btn-design" (click)="resetForm()">
                                        Clear
                                    </button>
                                    <button class="btn btn-design" (click)="createUser()">
                                        Create
                                    </button>
                                </div>

                                <!-- delete -->
                                <div class="center-flexBox gap-2" *ngIf="selectedItem">
                                    <button class="btn cancel-btn-design" (click)="deleteUser()">
                                        Delete
                                    </button>
                                    <button class="btn btn-design" (click)="updateUser()">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- forms-ends-here -->

            </div>
            <!-- inputfields-ends-here -->

        </div>
    </div>
    <!-- card-ends-here -->
</div>