.btn-review {
    width: 50% !important;
    height: auto !important;
    padding: 4px !important;
    font-size: var(--vp-fs-12);
}

.card-text {
    font-size: var(--vp-fs-12);
}

.doc-text {
    color: var(--vp-primary-dark-blue) !important;
    font-size: var(--vp-fs-15);
    font-weight: 500;

    .doc-count {
        color: var(--vp-primary-blue) !important;
        background: var(--vp-primary-blue-background);
        padding: 6px;
        border-radius: 8px;
    }
}

.dashboard-table {
    max-height: 322px;

    td,
    th {
        text-wrap: nowrap;
    }
}

.tile {
    cursor: pointer;
}

.acceptButton {
    height: 30px;
    width: 40px;
    border-radius: 50%;
    margin-right: 2px !important;

    img {
        margin-bottom: 5px !important;
        margin-left: -2px !important;
    }
}