.btn-review {
    background: var(--vp-bluish-violet) !important;
    color: var(--vp-white) !important;
    font-size: var(--vp-fs-12);
    height:auto;
    width: 50%;
    padding: 4px;
}

.card-text {
    font-size: var(--vp-fs-12);
}

.doc-text {
    color: var(--vp-primary-dark-blue) !important;
    font-size: var(--vp-fs-15);

    .doc-count {
        color: var(--vp-primary-blue) !important;
        background: var(--vp-primary-blue-background);
        padding: 6px;
        border-radius: 8px;
    }
}

.dashboard-table{
    height: 322px;
    td,th{
        text-wrap: nowrap;
    }
}