<div class="dialog-main">
    <div class="attachment-header d-flex justify-content-center align-items-center">
        <span>Attachments</span>
    </div>
    <div class="body-layout d-flex justify-content-center align-items-center flex-column">
        <div class="pb-1">
            <mat-form-field class="input-layout">
                <mat-label>Enter Your Attachments</mat-label>
                <input matInput [formControl]="Type" [matAutocomplete]="auto" class="mat-placeholder">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option [value]="items" *ngFor="let items of filteredOptions | async">{{items}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="this.Type.hasError('required') && this.Type.touched"
                    class="error-msg"><strong>Required Fields</strong></mat-error>
            </mat-form-field>
        </div>
        <label for="upload">
            <div class="uploadLabel">
                <mat-icon>cloud_upload</mat-icon>
                <input type="file" hidden placeholder="document" [formControl]="document" id="upload"
                    (change)="onFileChange($event)" multiple>
                Upload
            </div>
            <mat-error *ngIf="document.hasError('required') && document.touched" class="error-msg"><strong>Required
                    Fields</strong></mat-error>
        </label>
        <div class="fileName" *ngIf="fileName != null">
            <div class=" row" *ngFor="let items of fileName, let i=index">
                <span class="col-5 pe-0 filename-label" *ngIf="fileName.length == 1">Chosen File :</span>
                <span class="col-7 ps-0 filename-text" *ngIf="fileName.length == 1">{{fileName[i]}}</span>
                <span class="col d-flex justify-content-center" *ngIf="fileName.length > 1 && i==1">Total Count of
                    chosen files
                    -<strong class="ps-1">{{fileName.length}}</strong></span>
            </div>
        </div>
    </div>
    <div class="expiryLayout">
        <div class="check-field d-flex justify-content-center align-items-center">
            <input type="checkbox" id="isExpiryAvailable" checked [formControl]="Is_Expiry_Available"
                (change)="changeValidators()">
            <label class="input-label-text ps-2 cursor-pointer" for="isExpiryAvailable">Expiry
                Available ?</label>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column pb-1"
            *ngIf="this.Is_Expiry_Available.value">
            <mat-form-field>
                <mat-label>Choose a Expiry date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="Expiry_Date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="Expiry_Date.hasError('required') && Expiry_Date.touched"
                    class="error-msg"><strong>Required Fields</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="submit-session d-flex justify-content-center align-items-center">
        <button class="btn dialog-submit-btn" type="submit" (click)="submit()">Submit</button>
        <button class="btn btn-danger dialog-cancel-btn" type="button" mat-dialog-close>Cancel</button>
    </div>
</div>