<div class="dialog-main">
    <div class="attachment-header d-flex justify-content-center align-items-center">
        <span>Attachments</span>
    </div>
    <form [formGroup]="attachmentForm">
        <div class="body-layout d-flex justify-content-center align-items-center flex-column">
            <div class="pb-1">
                <mat-form-field class="input-layout" appearance="fill">
                    <mat-label>Enter or Select Attachment Type</mat-label>
                    <input matInput formControlName="File_Type" [matAutocomplete]="auto" placeholder="Enter or Select"
                        class="mat-placeholder">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option [value]="items" *ngFor="let items of filteredOptions | async">{{items}}</mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="this.attachmentForm.get('File_Type').hasError('required') && this.attachmentForm.get('File_Type').touched"
                        class="error-msg">Required Fields</mat-error>
                </mat-form-field>
            </div>
            <label for="upload">
                <div class="uploadLabel" (click)="this.fileInput.value=null">
                    <mat-icon>cloud_upload</mat-icon>
                    <input type="file" hidden placeholder="document" #fileInput id="upload"
                        (change)="onFileChange($event)" 
                        accept="image/png,image/jpg,image/jpeg,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,,.doc,.docx"
                        >
                    Upload
                </div>
                <mat-error *ngIf="isFileUploaded" class="error-msg">Upload a file</mat-error>
            </label>
            <div class="fileName" *ngIf="fileName != null">
                <span class="col-5 pe-0 filename-label" *ngIf="fileName">Chosen File :</span>
                <span class="col-7 ps-0 filename-text" *ngIf="fileName">{{fileName}}</span>
            </div>
        </div>
        <div class="expiryLayout">
            <div class="check-field d-flex justify-content-center align-items-center">
                <input type="checkbox" id="isExpiryAvailable" checked formControlName="Is_Expiry_Available"
                    (change)="changeValidators()">
                <label class="input-label-text ps-2 cursor-pointer" for="isExpiryAvailable">
                    Valid to Date Available or Not?
                </label>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column pb-1"
                *ngIf="attachmentForm.get('Is_Expiry_Available').value">
                <mat-form-field>
                    <mat-label>Choose a Expiry date</mat-label>
                    <input matInput [min]="currentDate" [matDatepicker]="picker" formControlName="Expiry_Date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="this.attachmentForm.get('Expiry_Date').hasError('required') && this.attachmentForm.get('Expiry_Date').touched"
                        class="error-msg">Required Fields</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="submit-session d-flex justify-content-center align-items-center">
        <button *ngIf="!data.attachment" class="btn btn-design" type="submit" (click)="submit('Add')">Submit</button>
        <button *ngIf="data.attachment" class="btn btn-design" (click)="submit('Update')">Update</button>
        <button class="btn cancel-btn-design" type="button" mat-dialog-close>Cancel</button>
    </div>
</div>

