<section class="screenInitiationForm center-flexBox">
    <div class="initiation-form w-75">
        <form action="">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <label> Vendor Type </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter vendor type" />
                        </div>
                    </div>

                    <div>
                        <label> Name </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter name" />
                        </div>
                    </div>

                    <div>
                        <label> Mail </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter mail" />
                        </div>
                    </div>

                    <div>
                        <label> Mobile Number </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter mobile number" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <label> Company Code </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter company code" />
                        </div>
                    </div>

                    <div>
                        <label> Department </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter department" />
                        </div>
                    </div>

                    <div>
                        <label> Purchase Organization </label>
                        <div class="input-group">
                            <input nbInput class="input-full-width" placeholder="Enter purchase organization" />
                        </div>
                    </div>

                    
                </div>
            </div>
        </form>
    </div>
</section>