<section class="screenAddress">
    <div class="container">
        <div style="user-select: none;">
            <div class="row">
                <form action="" [formGroup]="bankDetailsForm" class="p-0">
                    <!-- AccountHolder & Bank  -->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Account Holder</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="AccountHolder" 
                                    placeholder="Enter Account Holder Name" maxlength="100"
                                    (keypress)="keyPressValidation($event,'text')"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('AccountHolder').hasError('required') && this.bankDetailsForm.get('AccountHolder').touched"
                                    class="error-msg"> Account Holder Name is required</mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Bank</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="Bank" 
                                    placeholder="Enter Bank Name" maxlength="100"
                                    (keypress)="keyPressValidation($event,'text')"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('Bank').hasError('required') && this.bankDetailsForm.get('Bank').touched"
                                    class="error-msg"> Bank Name is required</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- AccountHolder & Bank  -->

                    <!-- Branch & Address -->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Branch</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="Branch" 
                                    placeholder="Enter Branch" maxlength="30"
                                    (keypress)="keyPressValidation($event,'text')"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('Branch').hasError('required') && this.bankDetailsForm.get('Branch').touched"
                                    class="error-msg"> Branch Name is required</mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Address</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                     formControlName="Address" placeholder="Enter Address"/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Branch & Address -->

                    <!--Account_Number & IFSC-->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Account Number</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="Account_Number" 
                                    placeholder="Enter Account Number" maxlength="30"
                                    (keypress)="keyPressValidation($event,'number')"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('Account_Number').hasError('required') && this.bankDetailsForm.get('Account_Number').touched"
                                    class="error-msg"> Account Number is required</mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">IFSC</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="IFSC" 
                                    placeholder="Enter IFSC Code" maxlength="11"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('IFSC').hasError('required') && this.bankDetailsForm.get('IFSC').touched"
                                    class="error-msg"> IFSC Code is required</mat-error>
                                    <mat-error *ngIf="this.bankDetailsForm.get('IFSC').hasError('pattern') && this.bankDetailsForm.get('IFSC').touched"
                                    class="error-msg">Invalid IFSC Code</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Account_Number & IFSC-->

                    <!--SWIFT & IBAN-->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">SWIFT</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="SWIFT" placeholder="Enter SWIFT"
                                    maxlength="11"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('SWIFT').hasError('required') && this.bankDetailsForm.get('SWIFT').touched"
                                    class="error-msg"> SWIFT is required</mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">IBAN</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border" formControlName="IBAN" placeholder="Enter IBAN"
                                    maxlength="34"/>
                                    <mat-error *ngIf="this.bankDetailsForm.get('IBAN').hasError('required') && this.bankDetailsForm.get('IBAN').touched"
                                    class="error-msg"> SWIFT is required</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--SWIFT & IBAN-->
                </form>
            </div>
        </div>
    </div>
</section>