<section class="organization-profile p-1">
    <div class="detail-container p-3 shadow rounded">
        <div class="d-flex flex-wrap justify-content-between px-5 mb-1">
            <div>
                <label class="input-label-text"> Type of Organization : </label>
                <span class="detail-type"> {{ getOrgTypeById(orgProfile.Type_of_Org_Id )}} </span>
            </div>
            <div>
                <label class="input-label-text"> Status of Company : </label>
                <span class="detail-type"> {{ getCompanySttausById(orgProfile.Status_of_Company_Id )}} </span>
            </div>
        </div>
        <div class="d-flex justify-content-center w-100">
            <div class="row w-100 gap-2">
                <div class="table-responsive w-100 table-container p-0">
                    <table mat-table [dataSource]="subsideriesList">
                        <ng-container matColumnDef="Subsidery_Name">
                            <th mat-header-cell *matHeaderCellDef class="px-4">Subsidery Name</th>
                            <td mat-cell *matCellDef="let element" class="px-4">{{element.Subsidery_Name}}</td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="subsideriesColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: subsideriesColumns;"></tr>
    
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="100%" class="no-data-row">
                                <nb-icon icon="file-text-outline"></nb-icon>
                                No Subideries were found.
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive w-100 table-container p-0">
                    <table mat-table [dataSource]="listOfMajorCustomerList">
                        <ng-container matColumnDef="Customer_Name">
                            <th mat-header-cell *matHeaderCellDef class="w-50">Customer Name</th>
                            <td mat-cell *matCellDef="let element">{{element.Customer_Name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Location">
                            <th mat-header-cell *matHeaderCellDef class="w-50">Location</th>
                            <td mat-cell *matCellDef="let element">{{element.Location}}</td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="majorCustomersColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: majorCustomersColumns;"></tr>
    
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="100%" class="no-data-row">
                                <nb-icon icon="file-text-outline"></nb-icon>
                                No NOCIL related Employee found.
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive w-100 table-container p-0">
                    <table mat-table [dataSource]="nocilRelatedEmployees">
                        <ng-container matColumnDef="Employee_Name">
                            <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                            <td mat-cell *matCellDef="let element">{{element.Employee_Name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Type_Of_Relation">
                            <th mat-header-cell *matHeaderCellDef>Type of Relation</th>
                            <td mat-cell *matCellDef="let element">{{element.Type_Of_Relation}}</td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="nocilRelatedEmployeesColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: nocilRelatedEmployeesColumns;"></tr>
    
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="100%" class="no-data-row">
                                <nb-icon icon="file-text-outline"></nb-icon>
                                No NOCIL related Employee found.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>