.customer-detail {
    font-size: var(--vp-fs-12);
    font-weight: 500;
}

.detail-container {
    table {
        tr{
            height: 36px !important;
        }

        th, td{
            padding: 0 1.5rem;
        }
    }
}