<section class="screenAddress">
    <div class="container">
        <div style="user-select: none;">
            <div class="row">
                <form action="" [formGroup]="commercialProfileForm" class="p-0">
                    <!-- Financial_Credit_Rating & Agency_Name  -->
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Financial Credit Rating</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small"
                                        formControlName="Financial_Credit_Rating" placeholder="Enter Financial credit rating"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Agency Name</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" formControlName="Agency_Name" placeholder="Enter Agency name"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Financial_Credit_Rating & Agency_Name  -->

                    <!-- PAN & GSTIN -->
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">PAN</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" formControlName="PAN" placeholder="Enter PAN Number"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">GSTIN</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" formControlName="GSTIN" placeholder="Enter your GSTIN"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PAN & GSTIN -->

                    <!--MSME_Type & MSME_Number-->
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">MSME Type</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" formControlName="MSME_Type" placeholder="Enter MSME Type"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">MSME Number</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" formControlName="MSME_Number" placeholder="Enter MSME Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MSME_Type & MSME_Number-->
                </form>
            </div>
        </div>
    </div>
</section>