<section class="screenAddress">
    <div class="container">
        <div style="user-select: none;">
            <div class="row">
                <form action="" [formGroup]="commercialProfileForm" class="p-0">
                    <!-- Financial_Credit_Rating & Agency_Name  -->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Financial Credit Rating</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                        formControlName="Financial_Credit_Rating" placeholder="Enter Financial credit rating"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">Agency Name</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                     formControlName="Agency_Name" placeholder="Enter Agency name"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Financial_Credit_Rating & Agency_Name  -->

                    <!-- PAN & GSTIN -->
                    <div class="row mb-2" *ngIf="v_Id != 4">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">PAN <span *ngIf="v_Id!=4" class="asterisk-required">*</span></label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                    formControlName="PAN" placeholder="Enter PAN Number" maxlength="10"/>
                                    <mat-error *ngIf="this.commercialProfileForm.get('PAN').hasError('pattern') && this.commercialProfileForm.get('PAN').touched"
                                    class="error-msg"> Invalid PAN Number</mat-error>
                                    <mat-error *ngIf="this.commercialProfileForm.get('PAN').hasError('required') && this.commercialProfileForm.get('PAN').touched"
                                    class="error-msg"> PAN Number is required </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">GSTIN</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                    formControlName="GSTIN" placeholder="Enter your GSTIN"
                                    maxlength="15"/>
                                    <mat-error *ngIf="this.commercialProfileForm.get('GSTIN').hasError('pattern') && this.commercialProfileForm.get('GSTIN').touched"
                                    class="error-msg"> Invalid GSTIN Number</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PAN & GSTIN -->

                    <!--MSME_Type & MSME_Number-->
                    <div class="row mb-2">
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">MSME Type <span *ngIf="astheriskRequired" class="asterisk-required">*</span></label>
                                <div class="input-group">
                                    <!-- <input nbInput fullWidth fieldSize="small" class="input-border"
                                     formControlName="MSME_Type" placeholder="Enter MSME Type"/> -->
                                     <nb-select fullWidth placeholder="Select MSME Type" size="small" status="primary"
                                        formControlName="MSME_Type">
                                        <nb-option *ngFor="let msme of msmeTypes" [value]="msme">{{msme}}</nb-option>
                                    </nb-select>
                                    <mat-error *ngIf="this.commercialProfileForm.get('MSME_Type').hasError('required') && this.commercialProfileForm.get('MSME_Type').touched"
                                    class="error-msg"> MSME Type is required </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                <label class="input-label-text">MSME Number <span *ngIf="astheriskRequired" class="asterisk-required">*</span></label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                     formControlName="MSME_Number" placeholder="Enter MSME Number"/>
                                     <mat-error *ngIf="this.commercialProfileForm.get('MSME_Number').hasError('required') && this.commercialProfileForm.get('MSME_Number').touched"
                                    class="error-msg"> MSME Number is required </mat-error>
                                    <mat-error *ngIf="this.commercialProfileForm.get('MSME_Number').hasError('pattern') && this.commercialProfileForm.get('MSME_Number').touched"
                                    class="error-msg"> Invalid MSME Number </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--MSME_Type & MSME_Number-->

                    <!-- ServiceCategory -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label class="input-label-text">Service Category</label>
                                <div class="input-group">
                                    <input nbInput fullWidth fieldSize="small" class="input-border"
                                     formControlName="ServiceCategory" placeholder="Enter Service Category"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ServiceCategory -->
                </form>
            </div>
        </div>
    </div>
</section>