<section class="screenAddress">
    <div class="container">
        <div style="user-select: none;">
            <form action="" [formGroup]="commercialProfileForm">
                <!-- Financial_Credit_Rating & Agency_Name  -->
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">Financial_Credit_Rating</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="Financial_Credit_Rating" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">Agency_Name</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="Agency_Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Financial_Credit_Rating & Agency_Name  -->
            
                <!-- PAN & GSTIN -->
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">PAN</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="PAN" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">GSTIN</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="GSTIN" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAN & GSTIN -->

                <!--MSME_Type & MSME_Number-->
                <div class="row">
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">MSME_Type</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="MSME_Type" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            <label class="input-label-text">MSME_Number</label>
                            <div class="input-group">
                                <input nbInput fullWidth fieldSize="small" formControlName="MSME_Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--MSME_Type & MSME_Number-->
            </form>
        </div>
    </div>
</section>