<section class="d-flex flex-wrap justify-content-between address-profile w-100 row-gap-2 column-gap-5 p-1">
  <div *ngFor="let address of addresses"
    class="profile-container d-flex flex-column justify-content-between p-3 mb-3 shadow rounded">
    <div>
      <div class="center-flexBox py-2">
        <span class="detail-type">{{ getAddressTypeById(address.Address_Type_Id) }}</span>
      </div>
      <div class="d-flex gap-2 align-items-start">
        <div class="center-flexBox">
          <img src="assets/images/pngs/map-pin.png" alt="" />
        </div>
        <div>
          <span class="detail" *ngIf="address.House_No">{{ address.House_No }}, </span>
          <span class="detail" *ngIf="address.Street_2">{{ address.Street_2 }}, </span>
          <span class="detail" *ngIf="address.Street_3">{{ address.Street_3 }}, </span>
          <span class="detail" *ngIf="address.Street_4">{{ address.Street_4 }}, </span>
          <span class="detail" *ngIf="address.City">{{ address.City }}, </span>
          <span class="detail" *ngIf="address.Region_Id">{{ getRegionById(address.Region_Id) }}, </span>
          <span class="detail" *ngIf="address.Country_Code">{{ getCoountryByCode(address.Country_Code) }} </span>
        </div>

      </div>
      <div class="d-flex gap-2">
        <div class="center-flexBox">
          <img src="assets/images/pngs/phone-office.png" alt="" />
        </div>
        <div>
          <span class="detail">{{ address.Tel || '-' }}</span>
        </div>
      </div>
      <div class="d-flex gap-2">
        <div class="center-flexBox">
          <img src="assets/images/pngs/fax.png" alt="" />
        </div>
        <div>
          <span class="detail">{{ address.Fax || '-'}}</span>
        </div>
      </div>
      <div class="d-flex gap-2">
        <div class="center-flexBox">
          <img src="assets/images/pngs/globe.png" alt="" />
        </div>
        <div>
          <span class="detail">{{ address.Website || '-' }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="role === 'Vendor'">
      <div class="d-flex justify-content-end align-items-center">
        <div>
          <img src="/../assets/images/pngs/pencil.png" alt="" class="edit">
        </div>
        <div>
          <img src="/../assets/images/pngs/trash.png" alt="" class="delete ms-2" (click)="deleteAddress()">
        </div>
      </div>
    </div>
  </div>
</section>