<section class="d-flex flex-wrap branch-info w-100 row-gap-2 column-gap-5 p-1">
    <div *ngFor="let branch of vendorBranches"
        class="profile-container d-flex flex-column justify-content-between p-3 mb-5 shadow rounded">
        <div>
            <div class="center-flexBox py-2">
                <span class="detail-type">
                    <img src="assets/images/pngs/map-pin.png" alt="" class="me-2" />
                    {{ branch.Location }}</span>
            </div>
            
            <div class="row mb-2 mb-md-1">
                <div class="col-md-5 d-flex justify-content-between align-items-center">
                    <div class="center-flexBox">
                        <img src="assets/images/pngs/map-pin.png" alt="" class="d-none d-md-block me-2" />
                        <label class="input-label-text"> Name </label>
                    </div>
                    <span class="d-none d-md-block"> : </span>
                </div>
                <div class="col fw-bold">
                    <span class="detail-type"> {{branch.Name}} </span>
                </div>
            </div>

            <div class="row mb-2 mb-md-1">
                <div class="col-md-5 d-flex justify-content-between align-items-center">
                    <div class="center-flexBox">
                        <img src="assets/images/pngs/map-pin.png" alt="" class="d-none d-md-block me-2"/>
                        <label class="input-label-text"> Designation </label>
                    </div>
                    <span class="d-none d-md-block"> : </span>
                </div>
                <div class="col fw-bold">
                    <span class="detail-type"> {{branch.Designation}} </span>
                </div>
            </div>

            <div class="row mb-2 mb-md-1">
                <div class="col-md-5 d-flex justify-content-between align-items-center">
                    <div class="center-flexBox">
                        <img src="assets/images/pngs/map-pin.png" alt="" class="d-none d-md-block me-2" />
                        <label class="input-label-text"> Email </label>
                    </div>
                    <span class="d-none d-md-block"> : </span>
                </div>
                <div class="col fw-bold">
                    <span class="detail-type"> {{branch.Email_Id}} </span>
                </div>
            </div>

            <div class="row mb-2 mb-md-1">
                <div class="col-md-5 d-flex justify-content-between align-items-center">
                    <div class="center-flexBox">
                        <img src="assets/images/pngs/map-pin.png" alt="" class="d-none d-md-block me-2" />
                        <label class="input-label-text"> Mobile </label>
                    </div>
                    <span class="d-none d-md-block"> : </span>
                </div>
                <div class="col fw-bold">
                    <span class="detail-type"> {{branch.Mobile_No}} </span>
                </div>
            </div>

        </div>
        <div>
            <div class="d-flex justify-content-end align-items-center">
                <div>
                    <img src="/../assets/images/pngs/pencil.png" alt="" class="edit">
                </div>
                <div>
                    <img src="/../assets/images/pngs/trash.png" alt="" class="delete ms-2" (click)="deleteBranch()">
                </div>
            </div>
        </div>
    </div>
</section>