@import "../../styles/themes";
@import "bootstrap/scss/mixins/breakpoints";
@import "@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

.sidebar-footer {
  background-color: #e8ebfa;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .sidebar-footer-content {
    width: 100px;
    height: 40px;
  }

  .sidebar-fc {
    display: none;
  }
}

@media (max-width: "1199.67px") {
  .meadia-max {
    display: none;
  }
  .meadia-min{
    display: block;
  }
}

@media (min-width: "1199.67px") {
  .meadia-max {
    display: block;
  }
  .meadia-min{
    display: none;
  }
}

.layout-footer{
  position: sticky !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 10;
  background-image: linear-gradient(to right, #ffff, #e8ebfa) !important;
}