@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

.sidebar-footer {
  background-color: #E8EBFA;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .sidebar-footer-content {
    width: 134px;
    height: 40px;
  }
}