<nb-layout windowMode>
  <nb-layout-header fixed *ngIf="isLogin">
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar *ngIf="isLogin && role != 'Vendor'" tag="menu-sidebar">
    <ng-content select="nb-menu"></ng-content>
    <nb-sidebar-footer class="sidebar-footer">
      <img
        [ngClass]="{'sidebar-footer-content':footerLogoVisible,'sidebar-fc':!footerLogoVisible}"
        src="assets/logos/Exalca logo.svg"
      />
      <img
        [ngClass]="{'sidebar-footer-content':!footerLogoVisible,'sidebar-fc':footerLogoVisible}"
        src="assets/logos/Exalca_Logo_Mini.svg"
        alt=""
      />
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
    <ngx-global-loader></ngx-global-loader>
  </nb-layout-column>

  <nb-layout-footer fixed *ngIf="isLogin && isDashboardShown" class="layout-footer">
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
