<section class="screenRegistration">
    <div class="container bg-white rounded-3">
        <!-- Domestic Vendor Organization Profile -->
        <div class=" p-3 border-bottom">
            <div class="row ">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Vendor Organization Profile</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">
                        Vendor Organization Profile
                    </h3>
                    <ngx-domestic-vendor-org-profile></ngx-domestic-vendor-org-profile>
                </div>
            </div>
        </div>
        <!-- Address -->
        <div class="p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Addresses</h3>
                    <img src="../assets/images/pngs/map-flatline 1.png" class="img-fluid" width="100" height="100">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Address</h3>
                    <ngx-address></ngx-address>
                    <!-- <ngx-domestic-vendor-org-profile></ngx-domestic-vendor-org-profile> -->
                </div>
            </div>
        </div>
        <!-- Contact -->
        <div class="p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Contacts</h3>
                    <img src="../assets/images/pngs/calling-flatline 1.png" class="img-fluid" width="100" height="100">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Contacts</h3>
                    <ngx-contacts></ngx-contacts>
                </div>
            </div>
        </div>
        <!-- Proprietor or Partners -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Proprietor or Partners</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Proprietor or
                        Partners</h3>
                    <ngx-partners></ngx-partners>
                </div>
            </div>
        </div>
        <!-- Annual TurnOver -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Annual Turnover</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Annual Turnover
                    </h3>
                    <ngx-annual-turnover></ngx-annual-turnover>
                </div>
            </div>
        </div>
        <!-- Technical Profile -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Technical Profile</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Technical Profile
                    </h3>
                    <ngx-technical-profile></ngx-technical-profile>
                </div>
            </div>
        </div>
        <!-- Attachments -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Attachments</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Attachments</h3>
                    <ngx-attachments></ngx-attachments>
                </div>
            </div>
        </div>
        <!-- Bank Details -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Bank Details</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Bank Details</h3>
                    <ngx-bank-details></ngx-bank-details>
                </div>
            </div>
        </div>
        <!-- Commercial Profile -->
        <div class=" p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Commercial Profile</h3>
                    <img src="../assets/images/pngs/open.png" class="img-fluid" width="70" height="70">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Commercial Profile
                    </h3>
                    <ngx-commercial-profile></ngx-commercial-profile>
                </div>
            </div>
        </div>
        <!-- Vendor Branches -->
        <div class="p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Vendor Branches</h3>
                    <img src="../assets/images/pngs/calling-flatline 1.png" class="img-fluid" width="100" height="100">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Vendor Branches
                    </h3>
                    <ngx-vendor-branches></ngx-vendor-branches>
                </div>
            </div>
        </div>
        <!-- Transport vendor Personal Details-->
        <div class="p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Transport Vendor Details</h3>
                    <img src="../assets/images/pngs/calling-flatline 1.png" class="img-fluid" width="100" height="100">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Transport Vendor Details
                    </h3>
                    <ngx-transport-vendors-personal-details></ngx-transport-vendors-personal-details>
                </div>
            </div>
        </div>
        <!-- Tanker Details -->
        <div class="p-3 border-bottom">
            <div class="row">
                <div class="d-none d-sm-flex flex-column align-items-center justify-content-center col-sm-3">
                    <h3 class="outer-title mb-1">Tanker Details</h3>
                    <img src="../assets/images/pngs/calling-flatline 1.png" class="img-fluid" width="100" height="100">
                </div>
                <div class="col-12 col-sm-9">
                    <h3 class="d-flex justify-content-center align-items-center d-sm-none title mb-3">Tanker Details
                    </h3>
                    <ngx-tanker-details></ngx-tanker-details>
                </div>
            </div>
        </div>
    </div>

    <button (click)="submit()">Submit</button>
</section>