.title {
    font-weight: 600;
    padding-left: 10px;
    text-decoration: solid underline 3px;
    text-underline-position: under;
    letter-spacing: 0.5px;

    .underline {
        border-bottom: 1px solid #000;
        padding-bottom: 3px;
    }
}
