<section id="change-password" class="d-flex flex-column">
  <div class="header d-flex justify-content-center align-items-center">
    <h3 class="title">Change Password</h3>
  </div>

  <div class="change-password-form-container p-4">
    <form [formGroup]="changePasswordForm">
      <div class="mb-sm-0 mb-2 w-100 row gap-2">
        <div class="col-12">
          <label class="input-label-text">
            Old Password <span class="asterisk-required">*</span>
          </label>
          <div class="input-group">
            <input
              nbInput
              type="password"
              fullWidth
              fieldSize="small"
              class="input-border"
              placeholder="Enter old password"
              formControlName="OldPassword"
            />
          </div>
          <mat-error
            *ngIf="
              changePasswordForm.get('OldPassword').hasError('required') &&
              changePasswordForm.get('OldPassword').touched
            "
            class="error-msg"
          >
            Old password is required.
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm.get('OldPassword').hasError('minlength') &&
              changePasswordForm.get('OldPassword').touched
            "
            class="error-msg"
          >
            Password should have atleast 8 charecters length.
          </mat-error>
        </div>
        <div class="col-12">
          <label class="input-label-text">
            New Password <span class="asterisk-required">*</span>
          </label>
          <div class="input-group">
            <input
              nbInput
              type="password"
              fullWidth
              fieldSize="small"
              class="input-border"
              placeholder="Enter new password"
              formControlName="NewPassword"
              (keyup)="comparePasswords()"
            />
          </div>
          <mat-error
            *ngIf="
              changePasswordForm.get('NewPassword').hasError('required') &&
              changePasswordForm.get('NewPassword').touched
            "
            class="error-msg"
          >
            New password is required.
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm.get('NewPassword').hasError('minlength') &&
              changePasswordForm.get('NewPassword').touched
            "
            class="error-msg"
          >
            Password should have atleast 8 charecters length.
          </mat-error>
          <mat-error *ngIf="comparePassword" class="error-msg">
            New password can not be the same as old password.
          </mat-error>
        </div>
        <div class="col-12">
          <label class="input-label-text">
            Confirm Password <span class="asterisk-required">*</span>
          </label>
          <div class="input-group">
            <input
              nbInput
              type="password"
              fullWidth
              fieldSize="small"
              class="input-border"
              placeholder="Enter new password"
              formControlName="ConfirmPassword"
              (keyup)="verifyPasswords()"
            />
          </div>
          <mat-error
            *ngIf="
              changePasswordForm.get('ConfirmPassword').hasError('required') &&
              changePasswordForm.get('ConfirmPassword').touched
            "
            class="error-msg"
          >
            Confirm password is required.
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm.get('ConfirmPassword').hasError('minlength') &&
              changePasswordForm.get('ConfirmPassword').touched
            "
            class="error-msg"
          >
            Password should have atleast 8 charecters length.
          </mat-error>
          <mat-error *ngIf="verifyPassword" class="error-msg">
            Confirm password should be same as new password.
          </mat-error>
        </div>

        <div class="d-flex justify-content-center align-items-center gap-2">
          <button class="btn cancel-btn-design" mat-dialog-close>Cancel</button>
          <button
            class="btn btn-design"
            type="submit"
            (click)="changePassword()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="loader-point" id="nb-global-spinner" *ngIf="loader">
  <div
    class="spinner-grow text-primary"
    style="width: 4rem; height: 4rem"
    role="status"
  ></div>
  <span class="sr-only">Submitting...</span>
</div>
