:root {
  --white: #fff !important;
  --bluish-black: #1e2129 !important;
  --nocil-logo-blue: #1d79b5 !important;
  --nocil-venish-blue: #2d6b80 !important;

  --nocil-lynx-blue: #169ae6 !important;
  --nocil-bluish-violet: #0866a1 !important;

  --side-nav-bg-color: #eaedfa !important;
  --background-grey: #f5f5f5 !important;
  --th-bluish-grey: #e8ebfa !important;
  --nocil-primary-blue:#035F88 !important;
}
