:root {
  --vp-white: #fff !important;
  --vp-bluish-black: #1e2129 !important;
  --vp-layout-bg: #e1e5e9 !important;
  --vp-logo-blue: #1d79b5 !important;
  --vp-venish-blue: #2d6b80 !important;
  --vp-lynx-blue: #169ae6 !important;
  --vp-bluish-violet: #0866a1 !important;
  --vp-header-bg: #e8ebfa !important;

  --vp-sidenav-bg: var(--side-nav-bg-color);
  --th-bluish-grey: #e8ebfa !important;
  --vp-th-background: #e8ebfa !important;
  --vp-table-th-bg: #388ce030 !important;
  --vp-primary-blue: #035f88 !important;
  --vp-primary-dark-blue: #394657 !important;
  --vp-primary-blue-background: #035f881a !important;
  --vp-otp-input: #8a8a8a !important;
  --vp-otp-title: #666666 !important;
  --vp-border-color: #d1d3d4 !important;
  --vp-toggle-switch: #2d9c2d !important;
  --vp-placeholder: #8f9bb3 !important;
  --vp-upload-color: #3aa774 !important;

  --vp-sidebar-gradient: linear-gradient(to bottom, white, #e8ebfa);
  --vp-header-gradient: linear-gradient(to left,#e8ebfa, white, #e8ebfa);
  --vp-login-card-gradient: linear-gradient(to bottom, #ffffff 70%, #ecdfb5);
  --vp-profile-gradient: linear-gradient(to bottom, #e8ebfa78, #e8ebfa);

  --vp-fs-10: 10px;
  --vp-fs-12: 12px;
  --vp-fs-14: 14px !important;
  --vp-fs-15: 15px;
  --vp-fs-18: 18px;
  --vp-fs-25: 25px;

  --vp-br-10: 10px;
  --vp-br-5: 5px;

  --vp-sidebar-width: 12rem;
}
