@import "./color.theme";

:root {
  --vp-white: #fff !important;
  --vp-bluish-black: #1e2129 !important;
  --vp-logo-blue: #1d79b5 !important;
  --vp-venish-blue: #2d6b80 !important;
  --vp-lynx-blue: #169ae6 !important;
  --vp-bluish-violet: #0866a1 !important;

  --vp-sidenav-bg: #eaedfa !important;
  --th-bluish-grey: #e8ebfa !important;
  --vp-th-background: #f5f5f5 !important;
  --vp-primary-blue: #035F88 !important;
  --vp-primary-dark-blue: #394657 !important;
  --vp-primary-blue-background:#035f881a !important;

  --vp-fs-14:14px !important;
  --vp-fs-28:28px !important;
  --vp-fs-70:70px !important;
  --vp-br-10:10px !important;
}