@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "@nebular/theme/styles/globals";
@import "@nebular/auth/styles/globals";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";
@import "./variables";
@import "./media";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

//html, body { height: 100%; }
body {
  margin: 0;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
strong,
tr,
td,
th,
input,
textarea,
label,
select,
code,
pre {
  font-family: "Roboto", sans-serif !important;
  padding: 0px;
  margin: 0px !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.full-height {
  height: 100vh;
}

.center-flexBox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.center-flexBox-col {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.left-flexBox-col {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

.right-flexBox {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.input-group {
  width: 100% !important;
}

.input-group input {
  width: 100% !important;
}

.btn {
  border-radius: 10px;
}

// for scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

// for scrollbar

// Layout normalization

nb-layout-column,
nb-layout {
  background-color: var(--vp-layout-bg) !important;
}

// header-layout-height
nb-layout-header nav {
  padding: 0px 20px !important;
  height: 60px !important;
}

// footer-layout-height
nb-layout-footer nav {
  padding: 0px 20px !important;
  height: 40px !important;
}

// Sidebar Customization

nb-menu .menu-item a {
  font-weight: 400 !important;
  font-size: 14px;
}

nb-menu .menu-item {
  border-bottom: none;
}

nb-menu .menu-item .menu-item:first-child {
  border-top: none;
}

nb-menu .menu-item > .menu-items {
  padding: 0px 0px;
}

nb-sidebar.compacted nb-menu .menu-item a.active::before {
  width: 0px !important;
}

nb-sidebar .scrollable{
  padding: 0px !important;
  background-image: linear-gradient(to bottom, #ffff, #e8ebfa);
}

.compacted nb-menu .menu-item .menu-icon {
  margin: 0px 4px 0px 0px !important;
}

.expanded nb-menu .menu-item .menu-icon {
  margin: 0px 10px 0px 0px !important;
}

nb-sidebar {
  z-index: 99 !important;
}

nb-sidebar nb-menu {
  margin: 0px !important;
}

nb-sidebar.expanded {
  width: var(--vp-sidebar-width);
}

nb-sidebar .main-container {
    width: var(--vp-sidebar-width);
}

nb-layout-header.fixed ~ .layout-container nb-sidebar .main-container {
  height: calc(100vh - 4rem);
}

nb-layout .layout .layout-container nb-sidebar.fixed,
nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 4rem;
}

//overall-layout-padding
.layout-container {
  padding-top: 60px !important;
}

// checks height
.checks-fields {
  min-height: 40px;
}

// Text based classes

.tiny-text {
  color: #acacac;
  opacity: 1;
  font-size: var(--vp-fs-12);
  letter-spacing: 0.3px;
}

//input labe size
.input-label-text {
  color: var(--vp-primary-dark-blue) !important;
  font-size: var(--vp-fs-12);
}

.btn-design {
  background: var(--vp-bluish-violet) !important;
  color: var(--vp-white) !important;
  font-size: var(--vp-fs-12);
  height: auto;
  width: auto;
}

// for table

.table-container {
  border: 1px solid var(--vp-border-color);
  border-radius: var(--vp-br-10) !important;
  background-color: var(--vp-white) !important;

  th {
    background-color: var(--th-bluish-grey) !important;
    color: var(--vp-primary-dark-blue) !important;
    font-size: var(--vp-fs-14);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  td {
    font-size: var(--vp-fs-12);
  }

  .no-data-row {
    padding: 6px;
    text-align: center;
  }
}

.registration-table {
  max-height: 160px;

  .row-header {
    height: 40px;
  }

  .no-wrap-column {
    text-wrap: nowrap;
  }
}

input::placeholder,
textarea::placeholder,
.select-button.placeholder {
  font-size: var(--vp-fs-10) !important;
}

.error-msg {
  font-size: var(--vp-fs-10);
}

.cancel-btn {
  border: 1px solid var(--vp-border-color) !important;
  box-shadow: none !important;
  height: 30px !important;
  width: 30px !important;
}

// Mat-input-error-field
.mat-mdc-form-field-error-wrapper {
  padding: 0px !important;
}

//max-height for select-option dropdown
nb-option-list .option-list {
  max-height: 150px !important;
}

.input-border {
  border: 1px solid #99b2ff !important;
}

textarea {
  min-height: 40px !important;
}

.mat-mdc-mini-fab .mat-mdc-button-touch-target {
  height: 0px !important;
  width: 0px !important;
}

.cancel-btn-design {
  background: var(--vp-white) !important;
  color: var(--vp-bluish-violet) !important;
  border: 1px solid var(--vp-bluish-violet);
  font-size: var(--vp-fs-12);
  height: auto;
  width: auto;
}

// for snackbar
.success {
  background-color: #4caf50 !important;
  color: #ffffff !important;
}

.danger {
  background-color: #f44336;
  color: #ffffff;
}

.warning {
  background-color: #ff9800;
  color: #ffffff;
}

.info {
  background-color: #2196f3;
  color: #ffffff;
}
