@import "bootstrap/scss/mixins/breakpoints";
@import "@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});

    .nocil-logo {
      padding-left: 10px;
      height: 50px;
      width: 100px;
      object-fit: contain;
    }
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    h2 {
      color: var(--vp-bluish-black);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 30% !important;
      white-space: nowrap;
    }

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }

    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }

  .dropdown-alt {
    position: relative;
    display: inline-block;
  }

  .control-item:hover .dropdown-content-alt {
    display: block;
  }

  .control-item:hover .dropbtn-alt {
    background-color: #04aa6d00;
  }

  .dropbtn-alt {
    background-color: #04aa6d00;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: center;
  }

  .dropdown-content-alt {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
    overflow-x: hidden;
  }

  .dropdown-content-alt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content-alt a:hover {
    background-color: #ddd;
  }

  // .dropdown-alt:hover .dropdown-content-alt {
  //   display: block;
  // }

  .drop-notify {
    min-width: 300px;
    width: auto;
    max-height: 350px !important;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .font-align {
    color: #0866a1;
  }

  .border-bottom {
    border-bottom: 1px solid #e0e0e0 !important;
  }
  .readed-dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    background-color: #1055a0;
    display: inline-block;
    margin-right: 5px;
  }

  .header-color {
    color: var(--vp-bluish-black);
  }
}
