// loader
.loader-point {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffffbd;
  left: 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
