<section class="tanker-detail p-1">
    <div class="detail-container p-3 mb-5 shadow rounded">
        <div class="row w-100">
            <div>
                <div class="row mb-2 mb-md-1">
                    <div class="col-md-4 d-flex justify-content-between align-items-center">
                        <label class="input-label-text"> Capacity of Tanker </label>
                        <span class="d-none d-md-block"> : </span>
                    </div>
                    <div class="col-md fw-bold">
                        <span class="detail-type"> {{capacityoftank}} </span>
                    </div>
                </div>

                <div class="row mb-2 mb-md-1">
                    <div class="col-md-4 d-flex justify-content-between align-items-center">
                        <label class="input-label-text"> Tanker Type </label>
                        <span class="d-none d-md-block"> : </span>
                    </div>
                    <div class="col-md fw-bold">
                        <span class="detail-type"> {{tanktype}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>