<section id="forgot-password" class="d-flex flex-column">
  <div class="header d-flex justify-content-center align-items-center">
    <h3 class="title">Forgot Password</h3>
  </div>

  <div class="p-4">
    <form [formGroup]="forgotPasswordForm">
      <div class="mb-sm-0 mb-2 w-100 row gap-2">
        <div class="col-12">
          <label class="input-label-text">
            Employee Id <span class="asterisk-required">*</span>
          </label>
          <div class="input-group">
            <input
              nbInput
              fullWidth
              fieldSize="small"
              class="input-border"
              placeholder="Enter Employee Id"
              formControlName="Employee_Id"
            />
          </div>
          <mat-error
            *ngIf="
              forgotPasswordForm.get('Employee_Id').hasError('required') &&
              forgotPasswordForm.get('Employee_Id').touched
            "
            class="error-msg"
          >
            Employee Id is required.
          </mat-error>
        </div>

        <div class="col-12 d-flex justify-content-end align-items-center">
          <span class="request-text" (click)="requestForOtp()"
            >Request for OTP</span
          >
        </div>

        <div *ngIf="requestOtp">
          <div class="col-12">
            <label class="input-label-text">
              OTP <span class="asterisk-required">*</span>
            </label>
            <div class="input-group">
              <input
                nbInput
                fullWidth
                fieldSize="small"
                class="input-border"
                placeholder="Enter OTP"
                maxlength="6"
                formControlName="Otp"
              />
            </div>
            <mat-error
              *ngIf="
                forgotPasswordForm.get('Otp').hasError('required') &&
                forgotPasswordForm.get('Otp').touched
              "
              class="error-msg"
            >
              OTP is required.
            </mat-error>
            <mat-error
              *ngIf="
                forgotPasswordForm.get('Otp').hasError('minlength') &&
                forgotPasswordForm.get('Otp').touched
              "
              class="error-msg"
            >
              Enter complete OTP.
            </mat-error>
          </div>
          <div class="col-12">
            <label class="input-label-text">
              New Password <span class="asterisk-required">*</span>
            </label>
            <div class="input-group">
              <input
                nbInput
                type="password"
                fullWidth
                fieldSize="small"
                class="input-border"
                placeholder="Enter new password"
                formControlName="NewPassword"
                (keyup)="comparePasswords()"
              />
            </div>
            <mat-error
              *ngIf="
                forgotPasswordForm.get('NewPassword').hasError('required') &&
                forgotPasswordForm.get('NewPassword').touched
              "
              class="error-msg"
            >
              New password is required.
            </mat-error>
            <mat-error
              *ngIf="
                forgotPasswordForm.get('NewPassword').hasError('minlength') &&
                forgotPasswordForm.get('NewPassword').touched
              "
              class="error-msg"
            >
              Password should have atleast 8 charecters length.
            </mat-error>
            <mat-error *ngIf="comparePassword" class="error-msg">
              New password can not be the same as old password.
            </mat-error>
          </div>
          <div class="col-12">
            <label class="input-label-text">
              Confirm Password <span class="asterisk-required">*</span>
            </label>
            <div class="input-group">
              <input
                nbInput
                type="password"
                fullWidth
                fieldSize="small"
                class="input-border"
                placeholder="Enter new password"
                formControlName="ConfirmPassword"
                (keyup)="verifyPasswords()"
              />
            </div>
            <mat-error
              *ngIf="
                forgotPasswordForm
                  .get('ConfirmPassword')
                  .hasError('required') &&
                forgotPasswordForm.get('ConfirmPassword').touched
              "
              class="error-msg"
            >
              Confirm password is required.
            </mat-error>
            <mat-error
              *ngIf="
                forgotPasswordForm
                  .get('ConfirmPassword')
                  .hasError('minlength') &&
                forgotPasswordForm.get('ConfirmPassword').touched
              "
              class="error-msg"
            >
              Password should have atleast 8 charecters length.
            </mat-error>
            <mat-error *ngIf="verifyPassword" class="error-msg">
              Confirm password should be same as new password.
            </mat-error>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center gap-2">
          <button class="btn cancel-btn-design" mat-dialog-close>Cancel</button>
          <button
            class="btn btn-design"
            type="submit"
            (click)="submit()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="loader-point" id="nb-global-spinner" *ngIf="loader">
  <div
    class="spinner-grow text-primary"
    style="width: 4rem; height: 4rem"
    role="status"
  ></div>
  <span class="sr-only">Submitting...</span>
</div>
