#forgot-password {
  .header {
    height: 40px;
    background-color: var(--vp-primary-blue);
  }
  .title {
    color: white;
    font-weight: bold;
  }
  .request-text {
    color: var(--vp-logo-blue);
    font-size: var(--vp-fs-12);
    font-weight: 600;
    cursor: pointer;
  }
}
