.cancel-btn {
    border: 1px solid var(--vp-border-color) !important;
}

.mat-mdc-mini-fab {
    box-shadow: none !important;
    width: auto;
    height: auto;
    padding: 4px;
}

.partners-table {
    max-height: 160px;

    .row-header {
        height: 40px;
    }
}

.error-msg {
    font-size: var(--vp-fs-10);
}