.input-document-alignment {
    font-size: 20px;

    .attachmentLabel {
        font-size: var(--vp-fs-15);
        background-color: #e4faef;
        width: 180px;
        height: 40px;
        color: #3aa774;
        border: 2px dashed #3aa774;
        border-radius: 5px;
        user-select: none;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        .attachment-text {
            font-size: var(--vp-fs-14);
        }

        .ping-icon {
            font-size: 18px;
        }


    }
}

.linkBtn{
    font-size: var(--vp-fs-12);
    font-weight: 500;
}