<section class="screenLogin">
  <div class="container px-4">
    <div class="row bgWhite">
      <div class="col-sm-7 full-height d-none d-sm-flex justify-content-center align-items-center">
        <div>
          <div class="my-md-4 my-4 log-img center-flexBox">
            <img
              src="../../../../assets/images/pngs/login-carousal.png"
              width="300px"
            />
          </div>
          <div class="d-flex mb-2">
            <div class="bp-cloud-text center-text">Manage All Vendors</div>
          </div>
          <div class="mb-4">
            <div class="tiny-text center-text">
                Managing vendors involves the systematic oversight and
            </div>
            <div class="tiny-text center-text">
                coordination of relationships with external suppliers or service providers.
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 full-height center-flexBox">
        <mat-card class="material-card">
          <div class="center-flexBox-col">
            <img
              class="bpcloud-logo"
              src="../../../../assets/logos/BP_cloud.svg"
              alt="BP Cloud logo"
            />
            <h2>Welcome to BP Cloud</h2>
          </div>
          <form [formGroup]="loginForm">
            <div class="form-field left-flexBox-col mb-4">
              <label class="tiny-text"> Name </label>
              <div class="input-group">
                <input
                  nbInput
                  class="input-full-width"
                  placeholder="Enter your username"
                  formControlName="UserName"
                />
                <mat-error *ngIf="this.loginForm.get('UserName').hasError('required') && this.loginForm.get('UserName').touched"
                    class="error-msg"> Username is required</mat-error>
              </div>
            </div>
            <div class="form-field left-flexBox-col mb-2">
              <label class="tiny-text"> Password </label>
              <div class="input-group">
                <input
                  nbInput type="password"
                  class="input-full-width"
                  placeholder="Enter your password"
                  formControlName="Password"
                />
                <mat-error *ngIf="this.loginForm.get('Password').hasError('required') && this.loginForm.get('Password').touched"
                    class="error-msg"> Password is required</mat-error>
              </div>
            </div>
          </form>
          <div class="mb-4 right-flexBox">
            <span class="tiny-text forgot-password-text">Forgot Password?</span>
          </div>
          <div class="mt-2 center-flexBox">
            <button mat-flat-button class="btn btn-login" (click)="logIn()">Log in</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
