.addMajorDialogScreen{
    min-height: 300px;

    .dialog-title{
        border-bottom: 2px solid var(--vp-bluish-violet);
    }
    
    .customer-list {
        height: 100px;
        overflow: auto;

        .customer-item{
            padding: 6px;
        }
    }
    .no-data{
        height: 90px;
    }

    .cancel-icon{
        cursor: pointer;
    }
}